body {
    background-color: whitesmoke;
    border-style: solid;
    padding: 50px;
    margin-right: 80px;
    margin-left: 80px;
    text-align: center;
}

li {
    list-style-type: none;
    margin-right: 20px;
}


